#platos h3, h4 {
    text-align: center;
}

#platos .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#platos article {
    margin: 15px;
    
}

#platos img {
    width: 100%;
    max-width: 280px;
}